/*Basic stuffs, fonts.*/
.username_c19a55{
	font-family: Source Code Pro;
	font-weight: 700;
	font-size: 22px;
}

.text_c9d15c{
	font-family: Source Code Pro;
	font-weight: 700;
	font-size: 10px;
}

.name__20a53 *{
	font-family: Source Code Pro;
	font-weight: 700;
	font-size: 16px;
}

/*Rainbow animation for rainbow stuffs*/
@keyframes rainbow-bg{
		100%,0%{
			background-color: rgb(60,0,0);
		}
		8%{
			background-color: rgb(60,30,0);
		}
		16%{
			background-color: rgb(60,60,0);
		}
		25%{
			background-color: rgb(30,60,0);
		}
		33%{
			background-color: rgb(0,60,0);
		}
		41%{
			background-color: rgb(0,60,30);
		}
		50%{
			background-color: rgb(0,60,60);
		}
		58%{
			background-color: rgb(0,30,60);
		}
		66%{
			background-color: rgb(0,0,60);
		}
		75%{
			background-color: rgb(30,0,60);
		}
		83%{
			background-color: rgb(60,0,60);
		}
		91%{
			background-color: rgb(60,0,30);
		}
}

/*lighter one for certain stuffs*/
@keyframes lit-rainbow-bg{
		100%,0%{
			background-color: rgb(128,0,0);
		}
		8%{
			background-color: rgb(128,60,0);
		}
		16%{
			background-color: rgb(128,128,0);
		}
		25%{
			background-color: rgb(60,128,0);
		}
		33%{
			background-color: rgb(0,128,0);
		}
		41%{
			background-color: rgb(0,128,60);
		}
		50%{
			background-color: rgb(0,128,128);
		}
		58%{
			background-color: rgb(0,60,128);
		}
		66%{
			background-color: rgb(0,0,128);
		}
		75%{
			background-color: rgb(60,0,128);
		}
		83%{
			background-color: rgb(128,0,128);
		}
		91%{
			background-color: rgb(128,0,60);
		}
}
/*Also known as "chroma effect", I stole it from https://codepen.io/zak/pen/rWJzPy because im lazy lol*/

.messagesWrapper__36d07.group-spacing-16, .channelBottomBarArea_f75fb0, .form_f75fb0.formWithLoadedChatInput_f75fb0{
	animation: rainbow-bg 10s ease-in;
	animation-iteration-count: infinite;
}

.messagesWrapper__36d07.group-spacing-16{
	height: 100%
}
.title_f75fb0.container__9293f.themed__9293f{
	border-radius: 10px;
	border: solid 1px;
}

.subtitleContainer_f75fb0{
	background: rgba(0,0,0,0);
	position: fixed;
	top: 5px;
	left: 25%;
	z-index:10;
	width: 50%;
}

a{
	border-radius: 100px;
}
.headerContent_f37cb1.primaryInfo_f37cb1 h2{
	opacity: 0;
}

.headerChildren_f37cb1{
	scale: 3;
	
}

.topic__6ec1a.text-sm\/normal__6ec1a.expandable__6ec1a {
	font-size: 11px;
}

.sidebar_c48ade::after{
	opacity: 0;
}

.title__85643{
	position: fixed;
	left: 90px;
}
.icon_f34534.guildIcon__85643.iconSizeMini_f34534.iconActiveMini_f34534{
	
}
.banner__68edb{
	filter: blur(10px);
}

#app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content_c48ade > div.sidebar_c48ade > div.sidebarList_c48ade.sidebarListRounded_c48ade > nav > div.scroller__99e7c.thin__99f8c.scrollerBase__99f8c.fade__99f8c > ul > li:nth-child(3){
	display: none;
}
.avatar__75742 foreignObject{
	mask: unset;
	border-radius: 25px;
}

/*Start removing stuff*/
.visible__2d0ab{
	display: none;
}
.container__675e5, .sectionDivider__35e86{
	display: none;
}
.button__201d5.lookBlank__201d5.footerButtonColor__537ec.sizeLarge__201d5.fullWidth__201d5.grow__201d5{
	display: none;
}
.mask__68edb mask{
	display: none;
}
/*End removing stuff*/
